.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features li {
  margin: 20px;
  width: 300px;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features h3 {
  margin-top: 0;
}